version: 2
jobs:
  build:
    docker:
      - image: node:7.7.3
    working_directory: ~/st2apidocs
    steps:
      - checkout
      - run:
          name: If ST2_BRANCH is not set, set it to CIRCLE_BRANCH
          command: |
            if [ -z "$ST2_BRANCH" ]; then
              echo 'export ST2_BRANCH="${CIRCLE_BRANCH}"' >> $BASH_ENV
            fi
      - run:
          name: Let's print the env vars
          command: |
            echo "Here are the env vars"
            echo $ST2_BRANCH
            echo $CIRCLE_BRANCH
            echo ${CIRCLE_BUILD_NUM}
      - run:
          name: Fetch latest StackStorm OpenAPI spec
          command: |
            curl -Ss -q -o openapi.yaml https://raw.githubusercontent.com/StackStorm/st2/${ST2_BRANCH}/st2common/st2common/openapi.yaml
      - run:
          name: Install Dependencies
          command: npm install
      - run:
          name: Lint
          command: npm run lint --silent
      - run:
          name: Test
          command: npm test
      - run:
          name: Install doc generator
          command: npm install -g https://github.com/StackStorm/st2apidocgen
      - run:
          name: Generate API documentation
          command: |
            if [[ "${ST2_BRANCH}" =~ ^v[0-9]+\.[0-9]+$ ]]; then
              st2apidocgen --render --output
            elif [ "${ST2_BRANCH}" == "master" ]; then
              st2apidocgen --render /master --output
            else
              st2apidocgen --render /${CIRCLE_BUILD_NUM} --output
            fi
      - store_artifacts:
          path: ~/st2apidocs/build
          destination: build
      - deploy:
          name: Installing deploy dependencies
          command: |
            apt -y update && apt -y install python-pip
            pip install awscli==1.11.18
            aws configure set preview.cloudfront true
      - deploy:
          name: Deploying to S3
          command: |
            find ~/st2apidocs/build | sed 's|[^/]*/|  |g'
            if [ "${ST2_BRANCH}" ~= ^v[0-9]+\.[0-9]+$ ]; then
              aws s3 sync build/ s3://api.stackstorm.com/ --region ${REGION} --delete
              aws cloudfront create-invalidation --distribution-id=${DISTRIBUTION_ID} --paths="/*"
            elif [ "${ST2_BRANCH}" == "master" ]; then
              aws s3 sync build/ s3://api-staging.stackstorm.com/master --region ${REGION} --delete
            else
              aws s3 sync build/ s3://api-staging.stackstorm.com/${CIRCLE_BUILD_NUM} --region ${REGION}
            fi
