:global(html), :global(body), :global(#app) {
  height: 100%;
  overflow: hidden;
}

:global(body) {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 13px;

  line-height: normal;
}

:global(.undefined) {
  /* Hightlights missing css property */
  background-color: red !important;
  margin: -2px;
  padding: 2px;
}

.root {
  margin: 0;
  background-color: #fff;
  color: #222;

  display: flex;

  height: 100%;
}

.toc {
  min-width: 350px;
  max-width: 350px;

  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
}

.content {
  height: 100%;

  overflow: auto;

  flex: 1;
}
